[Desktop Entry]
Version=1.0
Name=YouTube
Exec=omunchy-launch-webapp "https://youtube.com"
Terminal=false
Type=Application
Icon=youtube
StartupNotify=true
Categories=Network;
