[Desktop Entry]
Version=1.0
Name=Gmail
Exec=omunchy-launch-webapp "https://mail.google.com/mail/?pli=1"
Terminal=false
Type=Application
Icon=gmail
StartupNotify=true
Categories=Network;
